.fifth_section{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.fifth_section article{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--primary-color);
    border-radius: 20px;
}
.fifth_section article figure{
    width: clamp(40%, 50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth_section article img{
    filter: drop-shadow(0 0 10px #fff9);
    width: clamp(50%, 80%, 80%);
    object-fit: contain;
    height: 100%;
}
.fifth_section article .container{
    color: var(--text-color);
    font-size: clamp(1.5rem, 2rem, 3rem);
    text-align: center;
    padding: 0 60px;
}
.fifth_section article .container button{
    background: var(--second-color);
    padding: var(--padding-basic);
    color: var(--text-color);
    border-radius: 10px;
    font-size:1rem;
    margin-top: 10%;
}