.fourth_section {
    width: 100%;
    margin-top: 10dvh;
    height: 90dvh;
}
.fourth_section .swiper-second-characters{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.fourth_section .swiper-second-characters h2{
    width: 90%;
    text-align: center;
    font-size: calc(250% + 0rem);
}
.fourth_section .swiper-second-characters .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75%;
    gap: 2%;
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide{
    width: 30%;
    max-width: 300px;
    height: fit-content;
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    overflow: hidden;
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article h3{
    font-size: calc(200% + 0rem);
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article p{
    text-overflow: ellipsis;
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article figure{
    width: 100%;
}
.fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article figure img{
    width: 100%;
    height: 150px; 
    object-fit: contain;
    filter: drop-shadow(0 0 10px #fff9);
}
@media screen and (max-width:630px) {
    .fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide{
        width: 70%;
        max-width: 400px;
        height: 60%;
        background: var(--second-color);
        box-shadow: 0 0 10px 1px #fff9;
    }
    .fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article h3{
        font-size: calc(200% + 0rem);
    }    
    .fourth_section .swiper-second-characters .swiper-wrapper .swiper-slide article{
        gap: 10%;
    }    
    .fourth_section .swiper-second-characters .swiper-wrapper{
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}