main{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section{
    width: clamp(0px, 95%, 1000px);
    height: 80dvh;
    margin-bottom: 10dvh;
}
.main-section .swiper {
    width: 100%;
    height: 100%;
    display: flex;
}
.main-section .swiper-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.main-section .swiper-slide {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 5%;
}
.main-section .swiper-slide img{
    width: clamp(300px, 55%, 50%);
    max-height: 400px;
    object-fit: contain;
    position: relative;
    animation: up-down 3s both linear infinite;
    z-index: -10;
}
.main-section .swiper-slide .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: clamp(300px, 35%, 50%);
}
.container h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: calc(100% + 0rem);
}
.container span{
    font-weight: 700;
    font-size: calc(150% + 0rem);
    text-transform: uppercase;
    text-wrap: balance;
}