.second_section {
    width: 100%;
    height: 110dvh;
}
.second_section .swiper-villians{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}
.second_section .swiper-villians h2{
    width: 100%;
    text-align: center;
    font-size: calc(250% + 0rem);
    text-transform: uppercase;
}
.second_section .swiper-wrapper{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}
.second_section .swiper-wrapper .swiper-slide{
    width: 30%;
    border-radius: 20px;
}
.second_section .swiper-wrapper .swiper-slide article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.second_section .swiper-wrapper .swiper-slide article img{
    width: 80%;
    height: 250px;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(0 0 10px #fff9);
}
.second_section .swiper-wrapper .swiper-slide article h3{
    font-size: calc(200% + 0rem);
    text-transform: uppercase;
    margin-top: 10px;
}
.second_section .swiper-wrapper .swiper-slide article p{
    text-align: center;
    padding: 25px;
}
.second_section .swiper-wrapper .swiper-slide-active{
    background: var(--second-color); 
    box-shadow: 0 0 10px 1px #fff9;
}
.second_section .swiper-villians .swiper-pagination{
    display: none;
}

@media screen and (max-width:610px){
    .second_section .swiper-wrapper .swiper-slide{
        width: 60%;
    }
    .second_section .swiper-villians .swiper-pagination{
        display: block;
    }
}