*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: #222;
    color: #fff;
}

.container{
}

.container_title {
    opacity: 0;
    font-size: 0rem;
    transition: font-size .5s ease;
}
.container_p {
    opacity: 0;
    font-size: 0rem;
    transition: font-size .5s ease;
}

.button {
    margin-top: 20px ;
    width: 50px;
    height: 50px;
    background: #3b9;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: top .5s ease;
    top: 0;
}

.active_container{
    width: clamp(200px, 300px, 400px);
    background: #3b7;
    padding: 70px 40px;
    color: #fff;
    border-radius: 10px;
    position: relative;
}
.active_container::after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: -10px;
    transform: rotate(135deg);
    left: calc(-10px + 50%);
    background: #3b7;
}
.active_button{
    background: #b21;
    top: 0;
}
.container_active_txt{
    opacity: 1;
    font-size: 2rem;
}
.container_active_txt_p{
    opacity: 1;
    font-size: 1rem;
}