body{
    padding: 0;
    margin: 0;
    display: grid;
    place-content: center;
    height: 100dvh;
    background: #F9CB3A;
    cursor: url(cursor.svg), auto;
}
svg{
    width: clamp(100px, 200px, 300px);
}
