*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    background: conic-gradient(#ddd, #d15, #ddd, #48e, #ddd, #48e, #d15, #ddd, #d15);
    backdrop-filter: blur(10rem);
    height: 100dvh;
}
img{
    width: clamp(30px, 100px,70px);
    transition: transform .5s ease;
}
img:hover{
    transform: rotate(25deg);
}
.container{
    width: clamp(280px, 300px, 500px);
    height: clamp(280px, 300px, 500px);
    backdrop-filter: blur(3rem);
    border-radius: 20px;
    background: #fff5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 5% 5%;
}
.section_article {
    width: 90%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -10%;
}
.section_article_title {
}

.figure_container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container .figure_container, article{
    position: relative;
    left: -15%;
}

.figure_container figure{
    width: clamp(30px, 80px, 100px);
    height: clamp(30px, 80px, 100px);
    backdrop-filter: blur(3rem);
    border-radius: 20px;
    background: #fff5;
}
.section_article_figure img{
    width: clamp(70px, 210px, 250px);
    margin: 10px 0 ;
}
.section_article_p {
}
.button_container{
    display: flex;
    align-items: baseline;
}
.section_article_button {
    width: clamp(10px, 25px, 30px);
    height: clamp(10px, 25px, 30px);
    font-weight: 900;
    border-radius: 3px;
    margin: 5px;
}
.add_cart {
    width: clamp(70px, 100px, 150px);
    height: clamp(30px, 50px, 70px);
    border-radius: 100px;
    position: absolute;
    bottom: -25%;
}
.section_side{
    display: grid;
    place-content: center;
}
