*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 100dvh;
    background: radial-gradient(#f66, #f33 ,#f22);
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15dvh;
    margin: auto;
    width: 80dvw;
}
.header_img {
    height: auto;
    width: 70px;
    filter: drop-shadow(0 0 10px #fff);
}
.header_nav {
}
.header_nav_ul {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_nav_ul_li {
    list-style: none;
    font-size: clamp(1.2rem, 1.5rem, 1.7rem);
}
.fa-solid{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: clamp(1.7rem, 2rem, 2.3rem);
    cursor: pointer;
    z-index: 1001;
    opacity: 0;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    background: #0005;
    width: 100%;
    height: 100dvh;
    z-index: 100;
    display: none;
}


.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 80dvh;
    margin: 10dvw;
    width: 80dvw;
    margin-top: 0;
}
.main_title {
    width: 30dvw;
    font-size: 4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin: 0;
}
.main_title_strong{
    font-weight: 900;
}
.main_p {
    width: 40dvw;
    font-size: 18px;
}
.main_button {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.main_button:hover{
    opacity: 0.7;
}
.main_img {
    width: 35dvw;
    filter: drop-shadow(0 0 20px #fff7);
}
.main_ul {
    padding: 0;
    font-size: 20px;
}
.main_ul_Facebook, .main_ul_Twitter, .main_ul_instagram {
    margin: 5px;
    position: relative;
    top: 0;
    transition: top 1s ease;
}
.main_ul_Facebook:hover, .main_ul_Twitter:hover, .main_ul_instagram:hover {
    top: -10px;
}


@media screen and (max-width:1250px){
    .fa-solid{
        opacity: 1;
    }
    .header{
        width: auto;
        margin: 20px
    }
    .header_nav{
        position: fixed;
        right: -100%;
        top: 0;
        height: 100dvh;
        width: clamp(15rem, 17rem, 20rem);
        background: #f44;
        display: grid;
        place-content: center;
        z-index: 100;
        transition: right .5s ease;
    }
    .header_nav_ul{
        width: clamp(15rem, 17rem, 20rem);
        margin: 0;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        transition: background .5s ease;
    }
    .header_nav_ul_li:hover{
        background: #d55;
    }
    .header_nav_ul_li{
        width: 100%;
        text-align: center;
    }
    .show{
        right: 0;
        z-index: 1000;
    }
    .show ~ .overlay{
        display: block;
    }

    .header_img{
        width: 50px;
    }
    html, body{
        font-size: 12px;
    }
    .main, body, .main_title, .main_title_strong, .main_ul, .main_p{
        height: auto;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .header{
        height: 10dvh;
    }
    .main_img{
        order: -1;
        width: 80dvw;
        height: auto;
    }
}
