:root{
    --primaryColor:#222;
    --secondColor:#3b7;
    --textColor: #fff;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100dvh;
    background: url("img/c1.jpg") center / cover;
}
.nav{
    width: 100%;
    height: 7dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav_ul{
    display: flex;
    background: transparent;
    align-items: center;
}
.nav_ul .home-li{
    margin-right: auto;
    font-size: 2rem;
}

.nav_ul_li_a{
    display: flex;
    color: var(--textColor);  
    padding: 1rem 2rem;
    border-radius: 1rem;
}
#special{
    background: #fff;
    color: #000;
}
.openSidebar, .closeSidebar{
    background: transparent;
    color: #fff;
    align-self: end;
    margin: 10px;
    font-size: clamp(1.2rem, 1.5rem, 1.7rem);
    cursor: pointer;
    display: none;
}
.openSidebar{
    position: absolute;
    right: 0;
}
.overlay{
    background: #0005;
    position: fixed;
    inset: 0;
    z-index: -10;
    display: none;
}

.main {
    display: inline-flex;
}
.left {
    width: 50%;
    height: 100dvh;
    color: #fff;
    backdrop-filter: blur(3rem);
    background: #fff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 min(10%, 30px);
}
.title {
    font-size: calc(3vw + 1rem);
    text-align: center;
}
.text {
}
.right {
    width: 50%;
    height: 100%;
}
.getLeft {
    position: absolute;
    bottom: 0;
}
.getRight {
    position: absolute;
    bottom: 0;
    right: 0;
}
.getLeft, .getRight{
    margin: 20px;
    background: transparent;
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    cursor: pointer;
}


@media screen and (max-width:700px) {
    .openSidebar, .closeSidebar{
        display: block;
    }
    .nav_ul{
        flex-direction: column;
        height: 100dvh;
        width: clamp(10rem, 13rem, 25rem);
        position: fixed;
        top: 0;
        right: -100%;
        transition: right .5s ease;
        background: #222;
    }
    .nav_ul_li{
        width: 100%;
        display: grid;
        place-content: center;
    }
    .show{
        right: 0;
    }
    .show ~ .overlay{
        display: block;
    }
}