*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fd0;
}
.bg{
    width: fit-content;
    height: fit-content;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
}
svG{
    width: 300px;
    height: 300px;
    z-index: 100;
    overflow: hidden;
}
.over{
    position: absolute;
    z-index: 1000;
}
.brown{
    width: 138px;
    height: 50px;
    background: #951;
    position: absolute;
    left: calc(50% - 100px);
    bottom: 70px;
    border-radius: 0 0 50px 50px;
    z-index: 100;
    animation: up 3s ease-in-out both;
}
.welcome{
    height: 100dvh;
    width: 100%;
    background: #fff;
    display: grid;
    place-content: center;
    font-size: 30px;
    font-weight: 900;
    display: none;
}
@keyframes up{
    0%{
        height: 0px;
    }
    100%{
        height: 160px;
    }
}